* {
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.border-left-top {
    border-left: 1px solid #00000026;
    border-top: 1px solid #00000026;
}
.border-right-bottom {
    border-right: 1px solid #00000026;
    border-bottom: 1px solid #00000026;
}

/* Navbar */

.navbar-brand {
    font-size: 28px;
}

.nav-item a {
    font-size: 20px;
}

/* Hero */

.hero h1 {
    font-size: 44px;
    line-height: 56px;
}

.hero form {
    width: 90%;
}

.hero input {
    width: 100%;
}

.hero .btn {
    z-index: 2;
}

.hero p {
    font-size: 22px;
}

/* Subscribe */

.subscribe h5 {
    font-size: 32px;
}

.subscribe p {
    font-size: 20px;
}

.subscribe form {
    width: 75%;
}

/* Get the app */

.get-app h6 {
    font-size: 22px;
    line-height: 26px;
    width: 55%;
}

.get-app h3 {
    font-size: 48px;
}


footer .d-flex {
    width: 90%;
}

footer li {
    font-size: 18px;
}


/* Responsive */

@media (min-width: 320px) and (max-width: 600px) {
    
    /* Navbar */
    
    .navbar-brand {
        font-size: 28px;
    }

    .nav-item {
        margin-bottom: 1vh;
    }
    
    .nav-item a {
        font-size: 18px;
    }

    /* Hero */

    .hero {
        padding: 4vh 4vw;
    }

    .hero img {
        width: 85vw;
    }

    .hero h1 {
        font-size: 32px;
        line-height: 42px;
        margin: 2vh 0;
    }
    
    .hero form {
        width: 100%;
        margin-top: 4vh;
    }
    
    .hero input {
        width: 100%;
    }

    .hero input::placeholder {
        font-size: 12px;
    }
    
    .hero p {
        font-size: 18px;
    }

    .hero .btn, .hero input {
        font-size: 16px;
        padding: 2vh auto;
    }

    /* Subscribes */

    .subscribe {
        padding: 4vh 4vw;
    }

    .subscribe h5 {
        font-size: 28px;
    }
    
    .subscribe img {
        width: 80vw;
        margin-top: 8vh;
    }

    .subscribe .call {
        font-size: 18px;
        margin: 4vh auto;
    }

    .subscribe .d-flex {
        flex-direction: column;
        text-align: center;
        padding: 4vh 0;
    }

    .subscribe .shadow {
        width: 95vw;
    }

    .subscribe .d-flex .col {
        width: 100%;
    }

    .border-left-top, .border-right-bottom {
        border: none;
    }

    .subscribe p {
        font-size: 18px;
        margin-bottom: 5vh;
    }

    .subscribe form {
        width: 100%;
    }

    .subscribe .btn, .subscribe input {
        font-size: 16px;
        padding: 2vh auto;
    }
    
    .subscribe input::placeholder {
        font-size: 12px;
    }

    /* Get the app */

    .get-app {
        padding: 4vh 4vw;
    }

    .get-app h6 {
        font-size: 20px;
        line-height: 22px;
        width: 100%;
        margin-bottom: 5vh;
    }

    .get-app .d-flex {
        gap: 3vw;
    }
    
    .get-app .d-flex img {
        width: auto;
        height: 7vh;
    }

    .get-app h3 {
        display: none;
    }

    footer {
        padding: 4vh 4vw;
        padding-bottom: 0;
    }

    footer .d-flex {
        width: 90%;
        flex-direction: column;
    }

    footer li {
        font-size: 16px;
        margin-bottom: 1vh;
    }

    footer ul {
        margin-right: 8vw;
    }

    footer ul .mb-lg-3 {
        margin: 1vh auto;
        font-size: 18px;
    }

    footer img {
        width: 30px;
        height: 30px;
        margin: 3vh 1vw;
    }

    footer small {
        padding: 2vh;
        font-size: 12px;
    }
}
